*{
    background-image: url("image.jpg");
    opacity: var(background-image,.5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:darkgray;
    
}

#head{
    /*margin-left: 500px;*/ 
    margin-top: 0%;
color: black;
    font-size: 20px;
  /*  background-image: url("images.jpg");
    border: 10;
    border-color: white;
    */
    font-family: Arial, Helvetica, sans-serif;

}
#subhead{
    
color: rgb(194, 56, 56);
    font-size: 25px;
    
    
}
#h1 {
    margin-left: 500px;
    color: rgb(194, 56, 56);
    

}
#h2{
    margin-left: 480px;
}
#image{
    margin-left: 420px;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;

  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  #form{
    position: absolute;
    left: 0;
    top: 70px;
  text-align: right;
  
  }
  #btn{
    color: #f1f1f1;
    background-color: #3e8e41;
    margin-right: 50px;
    border: none;
    
  }
  .lbl{
    margin-right: 100px;
  }
  .Elbl{
    margin-right: 130px;

  }
  .Plbl{
    margin-right: 110px;

  }
  #Insta{
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    
  }
  #Hus{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 200px;
    opacity: .7;
  }